
header {
    background-color: white;
    position: fixed; 
    top: 0; 
    clear: both;
    width: 95%;
}

nav{float:right;}


ul li {
        top: 0;
        display: inline-block;
        text-align: center;
        padding: 10px;

}

header img {float:left;}

body {
    background-image: url(../img/pattern.jpg);
}

section {
background-color: white;
margin-left: 150px;
margin-right: 150px;
margin-top: 100px;
padding: 20px;
}

footer {
text-align: center;
background-color: black;
color: white;
padding: 5px;
width: 100%;
margin-top: 15px;
bottom: 0;
}

.label {
    width: 25%;
    float: left;
    text-align: left;
    font-weight: bold;
}

.input {
    width: 65%;
    margin-left: 10px;
    float:left;
}

